[submodule "lib/pico-ds3231"]
	path = lib/pico-ds3231
	url = https://github.com/alpertng02/pico-ds3231
[submodule "lib/pico-event-hardware"]
	path = lib/pico-event-hardware
	url = https://github.com/zyoung71/pico-event-hardware
[submodule "lib/pico-comms"]
	path = lib/pico-comms
	url = https://github.com/zyoung71/pico-comms
